html {
	box-sizing: border-box;
}

:root {
	--primary-color: #212121;
	--link-logo-color: #2196f3;
	--description-color: #757575;
	--prime-white-color: #ffffff;
	--footer-color: #2f303a;
	--team-dscrp-color: #f5f4fa;
	--header-border-color: #ececec;
}

body {
	font-family: "Roboto", sans-serif;
	background: var(--prime-white-color);
	color: var(--primary-color);
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

.container {
	width: 1200px;
	margin: 0 auto;
	outline: 2px pink solid;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

/* Header */

.header {
	border-bottom: 1px solid var(--header-border-color);
}

.logo {
	text-decoration: none;
	font-family: Raleway, sans-serif;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
}

.navmenu-item,
.navmenu-item-current {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	outline: pink 2px solid;
	margin-right: 50px;
	vertical-align: middle;
}

.logo-prefix,
.navmenu-item-current,
.navmenu-item:hover,
.navmenu-item:focus,
.contacts-link-header:hover,
.contacts-link-header:focus,
.contacts-link-footer:hover,
.contacts-link-footer:focus {
	color: var(--link-logo-color);
}

.contacts-link-header {
	color: var(--description-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	outline: solid 2px pink;
}

/* Main Sign & Short Description */

.hero-section {
	background-color: var(--footer-color);
	text-align: center;
	padding-top: 200px;
}

.title-sign {
	color: var(--prime-white-color);
	background-color: var(--footer-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 0;
}

.title-button {
	color: var(--prime-white-color);
	background-color: var(--link-logo-color);
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.89;
	text-align: center;
	letter-spacing: 0.06em;
	border-radius: 4px;
	border-style: none;
	padding: 10px 32px;
	margin-bottom: 200px;
}

.title-button:hover,
.title-button:focus {
	background-color: #188ce8;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.advantages {
	background-color: wheat;
}

.advantages-title {
	color: var(--primary-color);
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 0px;
}

.advantages-title-info {
	color: var(--description-color);
	font-size: 14px;
	line-height: 2;
	letter-spacing: 0.03em;
	margin: 0;
}

/* What we do */

.section.example {
	padding-top: 0;
}

.team-activity {
	font-weight: bold;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	text-align: center;
	margin: 0 0 50px 0;
}

/* Our Team */

.section.team {
	background-color: var(--team-dscrp-color);
}

.member {
	background-color: var(--prime-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	padding: 0 70px 30px;
}

.member-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	margin: 30px 0 10px;
}

.member-position {
	color: var(--description-color);
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	margin-bottom: 0px;
	margin-top: 0px;
}

.feature-description {
	color: var(--description-color);
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
}

/* Features */

.feature {
	font-weight: bold;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.menu-button {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	border-style: none;
	border-radius: 4px;
}

.menu-button:hover,
.menu-button:focus {
	cursor: pointer;
	background-color: var(--link-logo-color);
	color: var(--prime-white-color);
	cursor: pointer;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Footer */

.footer {
	background-color: var(--footer-color);
}

.logo-suffix {
	color: var(--prime-white-color);
}

.location {
	color: var(--prime-white-color);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	font-style: normal;
}

.contacts-link-footer {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	font-style: normal;
}
